

/*Header nav*/
header{
    background-color: rgb(29, 27, 27);
    justify-content: space-between;
    align-items: center;
    display: flex;
    padding: 30px 10%;
}
hr{
    
    border:1px solid rgba(29, 27, 27, 0.897);
    
}
form,li, a{
    color: white;
    text-decoration: none;
    
}

.logo{
    width: 100px;
    opacity: 50%;
    margin-left: 12px;
}
.logo2{
    width: 100px;
    margin-top:4px;
    margin-right: 310px;
}

.nav__links{
    list-style: none;
    
    
}
.nav__links li,form{
    display: inline-block;
    padding: 0px 20px;   
}
.nav__links a:hover{
    color:rgb(70, 178, 240);
    transition: 0.2s; 
}
.nav__links select{
    outline: none;
    border: none;
    color: white;
    background-color:rgb(29, 27, 27);
    cursor: pointer;
}

.header_button{
    width: 120px;
    height: 40px;
    border: none;
    border-radius: 2px;
    color: white;
    background-color: rgb(70, 182, 255);
    display: inline-block;
    font-size: 18px;
    cursor: pointer;
    outline: none;
}
.header_button:active{
    color: rgb(29, 27, 27);
}
.header_button:hover{
    transition: 0.2s;
    background-color: rgb(4, 142, 184)
}
/*Header nav END*/

/*background to ajust the bug of the border video white*/
.background_just{
    z-index: -1;
    position:absolute;
    width: 100%;
    height: 100%;
    background-color: black;
}
/*Background ajust END*/


/*Video section, background, and content*/
.video_content{
    background-size: cover;

}

.video_logo_and_button{

    position: absolute;
    z-index: 1;
    left: 35%;
    top: 52%;
    
}

.video_logo_and_button button{
    position: relative;
    display: block;
    left: 33%;
    background: none;
    outline: none;
    border: none;
    
    
}
.video_logo_and_button input{
    margin-top: 4px;
    width: 130px;
    height: 40px;
    border: none;
    border-radius: 3px;
    color: white;
    background-color: rgb(70, 182, 255);
    display: inline-block;
    font-size: 18px;
    cursor: pointer;
    outline: none;
    box-shadow: 2px 2px 4px rgba(0, 0, 0, 0.733);
}
.video_logo_and_button input:hover{
    transition: 0.2s all ease-in-out;
    background-color: rgb(4, 142, 184)
}
.video_logo_and_button input:active{
    color: rgb(29, 27, 27);
}
.video_border{
    z-index: 1;
    width: 78%;
    height: 630px;
    position: absolute;
    border: 1px outset rgba(119, 119, 119, 0.61);
    left: 163px;
    top: 120px;
}
.video_background{
    position: absolute;
    width: 100%;
    filter: blur(10px);
    
    z-index: -1;
}
.video_up{
    position: relative;
    top: 30px;
}
.video_trailer{
    width: 80%;
    margin-left: 11%;
    box-shadow: 3px 3px 10px rgba(0, 0, 0, 0.788);
    
}
/*Video section END*/

.news_content{
    width: 100%;
    height: 230px;
    background-color: rgb(243, 243, 243);
    z-index: 1;
    margin-top: 1%;
}

.news_content span{
    letter-spacing: 1.5px;
    color: black;
    margin-bottom: 1%;
    transform: rotate(180deg);
    display: inline;
    writing-mode:vertical-lr;
}
.news_content .new_1{
    margin-top: 4%;
    background: none;
    outline: none;
    border: 1px outset rgba(51, 51, 51, 0.233);
    display: inline;
    width: 260px;
    height: 120px;
    padding: 1%;
    margin-left: 2%;
    border-bottom: 0px 20px 0px 0px;
    
}
.news_content .img1{
    
    width: 120px;
    height: 100px;
    border-radius: 2px;
    position: relative;
    left: -60px;
    top: -2px;
}
.news_content .img1:hover{
    transform: scale(1.1);
    transition: 0.2s all ease-in-out;
}
.news_content .p1{
    width: 20%;
    display: inline;
    color: black;
    position: absolute;
    margin-top: 4.8%;
    margin-left: -125px;
    
}
/*part 2*/

.news_content .new_2{
    margin-top: 4%;
    background: none;
    outline: none;
    border: 1px outset rgba(51, 51, 51, 0.233);
    display: inline;
    width: 260px;
    height: 120px;
    padding: 1%;
    margin-left: 14%;
    border-bottom: 0px 20px 0px 0px;
    
}
.news_content .img2{
    
    width: 120px;
    height: 100px;
    border-radius: 2px;
    position: relative;
    left: -60px;
    top: -2px;
}
.news_content .img2:hover{
    transform: scale(1.1);
    transition: 0.2s all ease-in-out;
}
.news_content .p2{
    width: 20%;
    display: inline;
    color: black;
    position: absolute;
    margin-top: 4.8%;
    margin-left: -125px;
    
}
/*part 3*/
.news_content .new_3{
    margin-top: 4%;
    background: none;
    outline: none;
    border: 1px outset rgba(51, 51, 51, 0.233);
    display: inline;
    width: 260px;
    height: 120px;
    padding: 1%;
    margin-left: 14%;
    border-bottom: 0px 20px 0px 0px;
    
}
.news_content .img3{
    width: 120px;
    height: 100px;
    border-radius: 2px;
    position: relative;
    left: -60px;
    top: -2px;
}
.news_content .img3:hover{
    transform: scale(1.1);
    transition: 0.2s all ease-in-out;
}
.news_content .p3{
    width: 14%;
    display: inline;
    color: black;
    position: absolute;
    margin-top: 4.8%;
    margin-left: -125px;
    
}
#line_ajust{
    width: 100%;
    height: 10px;
    background-color: rgb(243, 243, 243);
    position: relative;
    margin-top: 3.4%;
    z-index: 1;

}
.universe_content{
    background-color: black;
    height: 400px;
}
#background_video{
    position: absolute;
    object-fit: cover;
    width: 100%;
    height: 400px;
    filter: blur(2px);
    transform: translateY();
}

.content_img{
    display: inline;
    overflow: hidden;
    
}
.content_img video{
    display: inline-block;
    box-shadow: 2px 2px 4px rgba(0, 0, 0, 0.568);
    width: 400px;
    margin-top: 11px;
    margin-left: 20%;
    border-radius: 2px;
    position: relative;
    right: 60px;
    transition: 0.2s all ease-in-out;
    
}

.content_img video:hover{
    transform: scale(1.4);
}
.img_border_content{
    position: relative;
    width: 430px;
    height: 250px;
    display: inline-block;
    border: 1px solid rgba(105, 105, 105, 0.466);
    margin-left: 50px;
    left: 140px;
    top: 60px;
    
}
.items_contents .spr_dragon{
    width: 500px;
    position: relative;
    bottom: 120px;
    right: 65px;
}

/*Section 4 Items content*/
.items_contents{
    
    width: 100%;
    height: 2400px;
    background-image: url(../img/Background_test-2.png);
    background-repeat: no-repeat;
    background-size: cover;
    background-position: top;
    color: white;
    position: relative;
}

.items_contents h1{
    font-family: 'Staatliches', cursive;
    font-weight: normal;
    position: relative;
    margin-left: 36%;
    bottom: 200px;
    color: white;
    font-size: 30pt;
    text-shadow: 2px 2px 2px rgba(0, 0, 0, 0.658);
    letter-spacing: 2px;
}
/*Item content - Box 1 */
.box_1{
    position: absolute;
    margin-left:6%;
}
.items_contents #first_tittle{
    letter-spacing: 2px;
    font-weight: normal;
    margin-left: 4%;
    margin-bottom: 2%;
}

.items_contents #first_p{
    width: 20%;
    position: relative;
    margin-left: 4%;
    z-index: 1;
}

.items_contents .space_ship{
    position: relative;
    display: inline;
    bottom: 230px;
    width: 70%;
    margin-top: 2%;
    margin-left: 1%;
}
/*Item content - Box 2 */
.box_2{
    display: inline-block;
    position: relative;
    margin-top: 28%;
    top: 90px;
    
}
#video_test{
    float: left;
    width: 43%;
    position: relative;
    margin-left: 45%;
    bottom: 140px;
    border-radius: 2px;
}

.items_contents #second_tittle{
    letter-spacing: 2px;
    font-weight: normal;
    margin-left: 50% ;
    letter-spacing: 2px;
    margin-top: 1%;
    margin-bottom: 2%;
}

.items_contents #second_p{
    width: 20%;
    margin-left: 50%;
    display: inline-block;
}


.items_contents .knight{
    position: relative;
    margin-left: 70%;
    display: inline-block;
    bottom: 200px;
}
/*Itm content - Box 2 END*/


/*Item content - Box 3 */

.box_3{
    display: inline-block;
    position: relative;
    bottom: 473px;
    margin-left: 9%;
}

.items_contents #thirsty_tittle{
    letter-spacing: 2px;
    font-weight: normal;
    margin-bottom: 2%;
}
.items_contents #thirsty_p{
    position: relative;
    width: 20%;
    z-index: 1;
}
.items_contents .group_knight{
    position: relative;
    bottom: 230px;
    width: 20%;
    margin-left: 15%;
}
/*Item content Box 3 END*/

.box_4{
    display: inline-block;
    position: relative;
    margin-left: 50%;
    bottom: 660px;
}

.items_contents #fourty_tittle{
    letter-spacing: 2px;
    margin-bottom: 2%;
    font-weight: normal;
}

.items_contents #fourty_p{
    width: 40%;
    z-index: 1;
    position: relative;
}

.items_contents .knights_friends{
    width: 90%;
    position: relative;
    bottom: 170px;
    margin-left: 5%;
}

/*Footer*/

.footer_questions a{
    color: black;
    position: relative;
}
.copyright{
    z-index: -1;
    display: inline-block;
    width: 100%;
    height: 120px;
    text-align: center;

}
.copyright span{
    display: block;
    margin-top:2%;
}


/*Footer END*/